/* Write your CSS here */

img {
  height: 180px;
}
.container {
  padding-top: 20px;
  padding-bottom: 20px;
  flex-grow: 1;
  margin-left: 15px;
  margin-right: 15px;
}
.para {
  align-self: flex-start;
}
.li {
  list-style-type: none;
}
